{% extends "base.html" %}

{% block titulo %} Lista de Libros {% endblock %}

{% block contenido %}

<div class="card">
    <div class="card-header">
        Listar Libros
    </div>
    <div class="card-body">
        <h4 class="card-title">Libros</h4>
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th>Imagen</th>
                        <th>Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td>1</td>
                        <td>Django con Python</td>
                        <td>Imagen.png</td>
                        <td>Libros que hablan sobre frameworks de django</td>
                        <td>Editar | Borrar </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="card-footer text-muted">
        
    </div>
</div>

{% endblock %}