{% extends "base.html" %}

{% block titulo %} Lista de Libros {% endblock %}

{% block contenido %}

<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'create_book' %}" role="button">Agregá Libros</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Libros</h4>
        <div class="table-responsive">
            <table class="table table-second">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th>Imagen</th>
                        <th>Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                    <tr class="">
                        <td>{{ book.id }}</td>
                        <td>{{ book.title }}</td>
                        <td><img src="{{ book.image.url }}" height="100" width="100" alt="Imagen"></td>
                        <td>{{ book.description }}</td>
                        <td> 
                            <a name="" id="" class="btn btn-info" href="{% url 'edit_book' %}" role="button">Editar</a>
                            |
                            <a name="" id="" class="btn btn-danger" href="" role="button">Borrar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="card-footer text-muted">
        
    </div>
</div>

{% endblock %}